#id1{
    background-image: url(back1.png);
    justify-content: center;
    margin-top: 100px;
   height: 380px;
   border-radius: 10px;
   padding: auto;
}
#id2{
    background-image: url(back2.jpg);
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
    
}
a:hover{
    color:orange;
}